<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egreso</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/estilo.css") }}'>
</head>
<body>
    <main class="main">
        <div class="menu-container">
            <form class="menu">
                <h2 class="title">SALIDA</h2>
                <label for="placa">Ingrese la placa del Vehiculo</label>
                <input type="text" name="placa" placeholder="EJM-123"/>
                <button type="submit" class="button" formaction="/egreso/" formmethod="post">BUSCAR</button>
            </form>
            <a href="/home/">Regresar</a>
        </div>
    </main>
</body>
</html>