<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main class="main">
        <div class="menu-container">
            <h1 class="title">ERROR</h1>
            <h2>{{mensaje}}</h2>
            <a href="/home/">Regresar al inicio</a>
        </div>

    </main>
</body>
</html>