<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constrol parqueadero</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <main class="main">
        <h1 class="title">Sistema control parqueadero</h1>
        <div class="menu-container">
            <form class="menu">
                <h2>Selecciones una opción</h2>
                <button class="button" formaction="/ingreso/">INGRESO</button>
                <button class="button" formaction="/egreso/">EGRESO</button>
                <button class="button" formaction="/estado/">SEGUIMIENTO</button>
            </form>
        </div>
    </main>
</body>
</html>